header {
  margin: 0;
  grid-area: "header";
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  text-align: center;
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0;
}
.NameProj {
  display: inline-block;
}
main ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
li {
  padding-right: 10px;
}
