.task_number {
    font-weight: bold;
}
.task1_form {
    border-width: 0.1vw;
    border-style: solid;
    padding: 0.3vw;
    display: flex;
}
.task1_input {
    text-align: left;
    width: 21vw;
}
form {
    padding: 0.3vw;
    display: flex;
    justify-content: space-between;
}
input {
    width: 10vw;
    padding-left: 0.3vw;
}
.result {
    width: 50vw;
    margin: auto;
}
button {
    width: 20vw;
}
.task2_fraction {
    display: flex;
}
.fraction {
    width: 10vw;
}
.numerator, .denumerator {
    width: 2vw;
}