body {
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .menu {
    width: 550px;
    margin: auto;
  }
  
  .task1 {
    text-align: center;
  }

input:invalid {
    border: red solid 3px;
  }