.window {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100vw;
  height: 100vh;
}
.task1 {
  grid-row: 1/2;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.task2 {
  grid-row: 2/3;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.task3 {
  grid-row: 3/4;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.task4 {
  grid-row: 4/5;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.task_text {
  grid-row: 1/2;
  grid-column: 1/6;
  background-color: yellow;
}
.task_input {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: red;
}
.task_button {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: green;
}
.task_result {
  grid-row: 2/3;
  grid-column: 4/5;
  background-color: khaki;
}
