body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    font-size: 0.9vw;
    margin: 0;
}
#content {
    grid-area: content;
}