footer {
  background-color: cornflowerblue;
  display: flex;
  text-align: center;
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-area: "footer";
  margin: 0;
}
.textFooter {
  margin: auto;
}
