table {width: 90%;
    height: 500px;
    min-width: 650px;
    max-width: 1100px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
td, th {text-align: center;
        padding: 5px 5px;
        border: 1px solid black;}
thead {font-weight: bold; }    
.curs {font-style: italic; font-weight: normal;}
.curs1 {font-style: italic; font-weight: bold; font-size: 75%;}
.curs3 {font-style: italic; font-weight: normal; font-size: small; text-align: left}
strong {font-size: larger;}     
.col1 {width: 70px; background-color: khaki;}
.col2 {background-color: khaki;}
.col3 {background-color: lightblue;}
.col4 {background-color: lightsalmon;}
.col5 {width: 25%; background-color: lightgreen;}
.col6 {background-color: lightpink;}

