.page {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pageInfo {
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslateblue;
    margin-right: 2vw;
}
.myFoto {
    width: 20vw;
    border-radius: 50%;
}
